body {
    font-family: Arial, sans-serif;
    background-image: url(../image/login.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white;
    padding: 90px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

input[type="text"],
input[type="password"],input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00FFFF;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00CED1;
}

.error {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}